@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
<div>
    <h1>About this web app</h1>
    <p class="lead">
        This web app is meant for helping the personeel of a video store to keep track of the customers and the videos rented.
        It was considered that the video store personeel is composed out of a manager and a few assitants.
        The manager has the right to manage movies, customers and rentals(Add/Delete/Edit).
        The assistant can only manage customers and rentals (Add/Delete/Edit).Every employee can view the data.
    </p>
    <p>This website was created according to the tutorial of Mosh Hamedani on ASP.NET MVC 5   </p>
    <a href="https://codewithmosh.com">https://codewithmosh.com</a>
</div>

